<h1>New Trader Form</h1>

<%= form_with model: @user, url: admin_users_path, local: true do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>

  <%= form.submit 'Create Trader' %>
<% end %>

<%= link_to 'Back to Admin Dashboard', admin_authenticated_root_path %>
